@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.sidebar {
    width: 280px;
}


.icon-red {
    color: red;
    font-weight: bold;
}

.icon-red.interact:hover {
    color: #b90000;
}

.icon-white {
    color: white;
}

.gradient-primary {
    background: rgb(223,0,0);
    background: linear-gradient(rgba(223,0,0,1) 0%, rgba(250,60,65,1) 100%);
}

@media (max-width: 575px) {
    .mx-w-100 {
        width: 100vh !important;
    }
}

/* Booking Status */
.completed {
    color: #008000; /* Green */
    font-weight: bold;
    text-decoration: none;
}

.pending {
    color: #FFA500; /* Orange */
    font-weight: bold;
    text-decoration: none;
}

.refunded {
    color: #FF0000; /* Red */
    font-weight: bold;
    text-decoration: none;
}

.rejected {
    color: #800080; /* Purple */
    font-weight: bold;
    text-decoration: none;
}

/*flight status*/
.upcoming {
    color: #FFA500; /* Orange */
    font-weight: bold;
}

.in-progress {
    color: #008000; /* Green */
    white-space: nowrap;
    font-weight: bold;
}

.departed {
    color: #0000FF; /* Blue */
    font-weight: bold;
}


.nav-link.link-dark.active {
    background-color: #e31f25 !important;
}

.font-lato {
    font-family: Lato,sans-serif,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell;
}

body {
    font-family: Poppins, Lato,sans-serif,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell;
}

.btn-red {
    background: #ff2424;
    transition: 0.5s;
}
.btn-red:hover {
    border-color: #ff2424;
}

.submit-red {
    width: 100%;
    height: 50px;
    background: #ff2424;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    border: none;
}
.submit-red:hover {
    border-color: #ff2424;
}

.problem {
    color: #FF0000; /* Red */
    font-weight: bold;
    text-decoration: none;
}


.feedback {
    color: #008000; /* Green */
    font-weight: bold;
    text-decoration: none;
}

.others {
    color: #ffab17; /* Orange */
    font-weight: bold;
    text-decoration: none;
}
